:root {

    color-scheme: light dark;

    --primary: #CC7744;
    --secondary: #655246;
    --danger: #dd5757;

    --neutral-1-dark: #272320;
    --text-1-dark: #fafafa;

    --neutral-1-light: #ebebeb;
    --text-1-light: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: light-dark(var(--text-1-light), var(--text-1-dark));
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-neutral-1 {
    background-color: light-dark(var(--neutral-1-light), var(--neutral-1-dark));
}

.bg-danger {
    background-color: var(--danger);
}

.text-primary {
    color: var(--primary);
}

.text-1 {
    color: light-dark(var(--text-1-light), var(--text-1-dark));
}

.btn-main {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--text-1);
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 10px;
}

input, 
textarea {
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: light-dark(var(--neutral-1-light), var(--neutral-1-dark));
}

input::file-selector-button {
    border: none;
    background: var(--primary);
    color: light-dark(var(--text-1-light), var(--text-1-dark));
    cursor: pointer;
    padding: 10px 20px;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

.container {
    padding: 8px 16px;    
    margin: 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
  
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.header-nav a {
    color: light-dark(var(--text-1-light), var(--text-1-dark));
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.font-2 {
    font-size: 2rem;
}