:root {
    --primary: #CC7744;
    --secondary: #655246;
    --neutral-1: #272320;
    --text-1: #fafafa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-neutral-1 {
    background-color: var(--neutral-1);
}

.text-1 {
    color: var(--text-1);
}

.btn-main {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--primary);
    color: var(--text-1);
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-top: 10px;
}

input {
    padding: 8px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.block {
    display: block;
}

.full-width {
    width: 100%;
}

.container {
    padding: 8px 16px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
  
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
  
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
  
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
  
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}