{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Password Reset
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
  <section class="grid-center bg-neutral-1 text-1">
    <div class="form">
      <h1 class="margin-bottom">Password reset sent</h1>
      <p class="margin-bottom">
        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      </p>
      <p class="margin-bottom">
        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
      </p>
      <p>
        <a href="{% url 'login' %}" class="text-primary">Log in</a>
      </p>
    </div>
  </section>
{% endblock %}
