{% extends 'layout_login.html' %}
{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
    <section class="grid-center bg-neutral-1 text-1">
        <div>
            <h1>Password Reset</h1>
            <form action="{% url 'password_reset' %}" method="post" class="form">
                {% csrf_token %}
                {{ form }}
                <button class="btn-main full-width">Send</button>
            </form>
        </div>
    </section>
{% endblock %}
