{% extends 'layout_login.html' %}
{% load static %}

{% block title %}
  Password Reset Complete
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
  <section class="grid-center bg-neutral-1 text-1">
    <div class="form">
      <h1 class="margin-bottom">Password reset complete</h1>
      <p class="margin-bottom">
        Your password has been set. You may go ahead and log in now.
      </p>
      <p>
        <a href="{% url 'login' %}" class="text-primary">Log in</a>
      </p>
    </div>
  </section>
{% endblock %}
