{% extends 'layout_login.html' %}
{% load static %}

{% block title %}
  Password Reset
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
  <section class="grid-center bg-neutral-1 text-1">
    <div class="container">
      <h1 class="title">Enter new password</h1>
      <form method="post" class="form">
        {% csrf_token %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        {{ form }}
        <button class="btn-main block full-width">Change my password</button>
      </form>      
    </div>
  </section>
{% endblock %}



