{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Title
        {% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body class="bg-neutral-1">
    <header class="bg-primary mb-20">
        <nav class="container header-nav">
            <div>
                <img src="" alt="Logo" title="Logo">
            </div>
            <div>
                <a href="">Home</a>
                <a href="{% url 'posts:my_list' %}">My Posts</a>
                <a href="{% url 'profile' %}">Profile</a>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html>