{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Posts
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/posts/posts_list.css' %}">
{% endblock %}


{% block content %}
  <section class="bg-neutral-1 full-height">
    <div class="container">
      <div class="title-container">
        <h1>Posts</h1>
      </div>
      <div class="main-container">
        <form method="get">
          {{ filter.form }}
          <button class="btn-main">Search</button>
        </form>
        <div class="posts-list-container">
          {% for post in filter.qs %}
          <article class="post bg-neutral-2">
            <div>
              <h2>{{ post.title }}</h2>
              <p>By {{ post.author }} at {{ post.created_at }}</p>
              <p class="short-body">{{ post.body }}</p>          
            </div>
            <div class="post-buttons">
              <a href="{% url 'posts:page' id=post.id %}">View</a>
            </div>
          </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
